<!DOCTYPE html>
<html>
<head>
    <title>FindYourDoctor</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-menuclipper/jquery.menuclipper.css" rel="stylesheet" type="text/css" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
    <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
        window.onload = function()
        {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
        }
    </script>

    <style>

        .row {text-align: center}

    </style>

</head>
<body class="fixed-header   ">
<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header" style="background-color: #D8D8D8">
        <img src="assets/img/dash_logo.png" alt="logo" class="brand" data-src="assets/img/dash_logo.png" data-src-retina="assets/img/dash_logo.png" width="180" height="35">
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu" style="background-color: #0e90d2">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="home" class="detailed">
                    <img src="assets/img/home_logo.png" alt="logo" class="brand" data-src="assets/img/home_logo.png" data-src-retina="assets/img/home_logo.png" width="80" height="20">
                </a>
                <span class="icon-thumbnail "><i class="pg-home"></i></span>
            </li>
            <li class="">
                <a href="email" class="detailed">
                    <img src="assets/img/notifications.png" alt="logo" class="brand" data-src="assets/img/notifications.png" data-src-retina="assets/img/notifications.png" width="150" height="20">
                </a>
                <span class="icon-thumbnail bg-success" style="background-color: #D8D8D8"><i class="glyphicon glyphicon-exclamation-sign"><%=app.length%></i></span>
            </li>
            <li class="">
                <a href="social">
                    <img src="assets/img/social_logo.png" alt="logo" class="brand" data-src="assets/img/social_logo.png" data-src-retina="assets/img/social_logo.png" width="75" height="20">
                </a>
                <span class="icon-thumbnail"><i class="pg-social"></i></span>
            </li>
            <li class="">
                <a href="calendar">
                    <img src="assets/img/calendar_logo.png" alt="logo" class="brand" data-src="assets/img/calendar_logo.png" data-src-retina="assets/img/calendar_logo.png" width="100" height="20">
                </a>
                <span class="icon-thumbnail"><i class="pg-calender"></i></span>
            </li>
            <li class="">
                <a href="settings">
                    <img src="assets/img/doctors_logo.png" alt="logo" class="brand" data-src="assets/img/doctors_logo.png" data-src-retina="assets/img/doctors_logo.png" width="80" height="20">
                </a>
                <span class="icon-thumbnail"><i class="glyphicon glyphicon-user"></i></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START HEADER -->
    <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="sm-action-bar">
                <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
                    <span class="icon-set menu-hambuger"></span>
                </a>
            </div>
            <!-- END ACTION BAR -->
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="sm-action-bar">
                <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
                    <span class="icon-set menu-hambuger-plus"></span>
                </a>
            </div>
            <!-- END ACTION BAR -->
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table">
            <div class="header-inner">
                <a href="#" class="toggle-email-sidebar">Inbox <span class="text-info">(12)</span> <span class="caret"></span></a>
                <div class="brand inline">
                    <img src="assets/img/newlogo.png" alt="logo" data-src="assets/img/newlogo.png" data-src-retina="assets/img/newlogo.png" width="100" height="50">
                </div>
                <!--<a class="search-link" data-toggle="search"><i class="pg-search"></i><input placeholder="Type anywhere to search..." class="bold no-border" style="font-size: 17px; width: 250px;"></input></a>-->
            </div>
        </div>

        <!--<div class=" pull-right">-->
            <!--<div class="header-inner">-->

                <div class=" pull-left sm-table">
                    <div class="header-inner">
                        <!--<div class="brand inline">-->
                            <!--<img src="assets/img/newlogo.png" alt="logo" data-src="assets/img/newlogo.png" data-src-retina="assets/img/newlogo.png" width="100" height="50">-->
                        <!--</div>-->

                        <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
                            <li class="p-r-15 inline">
                                <div class="dropdown">
                                    <a href="/helper" id="notification-center" class="glyphicon glyphicon-user" > Appointment Helper
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>




                <!--<a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>-->
            <!--</div>-->
        <!--</div>-->










        <div class=" pull-right">
            <!-- START User Info-->
            <div class="visible-lg visible-md m-t-10">
                <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                    <span class="semi-bold"><%= user.fname%></span> <span class="text-master"><%= user.sname%></span>
                </div>
                <div class="dropdown pull-right">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="assets/img/profile.png" alt="" data-src="assets/img/profile.png" data-src-retina="assets/img/profile.png" width="32" height="32">
            </span>
                    </button>
                    <ul class="dropdown-menu profile-dropdown" role="menu">
                        <li>
                            <a><i class="glyphicon glyphicon-user"></i> <%= user.fname%> <%= user.sname%></a>
                            <a><i class="pg-mail"></i> <%= user.email%></a>
                        </li>
                        <li class="bg-master-lighter">
                            <a href="/logout" class="clearfix">
                                <span class="pull-left">Logout</span>
                                <span class="pull-right"><i class="pg-power"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END User Info-->
        </div>
    </div>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->

    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron" data-pages="parallax">
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="inner">
                        <!-- START BREADCRUMB -->
                        <ul class="breadcrumb">
                            <li>
                                <p>FindYourDoctor</p>
                            </li>
                            <li><a class="active">Notifications</a>
                            </li>
                        </ul>
                        <!-- END BREADCRUMB -->
                    </div>
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <!-- START CONTAINER FLUID -->
            <!--<div class="container-fluid container-fixed-lg">-->
            <!-- BEGIN PlACE PAGE CONTENT HERE -->


            <div class="container-fluid container-fixed-lg bg-white">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title"><h4><%= user.fname%> <%= user.sname%> Appointment Requests</h4>
                        </div>
                        <div class="pull-right">
                            <div class="col-xs-12">
                                <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">


                        <table class="table table-hover demo-table-search" id="tableWithSearch" >
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%for(var i=0;i<app.length;i++){%>

                            <tr>
                                <td class="v-align-middle semi-bold" >
                                    <p><%=app[i].title%></p>
                                </td>
                                <td class="v-align-middle" >
                                    <p><%=app[i].name%> <%=app[i].surname%></p>
                                </td>
                                <td class="v-align-middle" >
                                    <p><%=app[i].start%></p>
                                </td>
                                <td class="v-align-middle" >
                                    <p><%=app[i].sttime%></p>
                                </td>
                                <td class="v-align-middle" >
                                    <p><%=app[i].end%></p>
                                </td>
                                <td class="v-align-middle" >
                                    <p><%=app[i].description%></p>
                                </td>
                                <%if(app[i].drID==user.id){%>
                                <td class="v-align-middle" style="width: 150px">

                                    <button type="button" id="acceptreq" class="btn btn-success btn_accept_event"
                                    value= <%=app[i].AppID+"*"+app[i].name+"*"+app[i].surname+"*"+app[i].start+"*"+app[i].sttime+"*"+myinfo[0].email +"*"+"Dr"+"*"+user.fname+"*"+user.sname+"*"+app[i].end%> + onclick="AcceptReq(this.value)"  >
                                    <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" id="acceptreq" class="btn btn-danger btn_accept_event" onclick="DeclineReq(this.value)"
                                            value=<%=app[i].AppID%>>
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>

                                </td>
                                <%}%>
                                <%if(app[i].drID!=user.id){%>
                                <td class="v-align-middle" style="width: 150px">

                                   <p>Pending</p>

                                </td>
                                <%}%>
                            </tr>
                            <%}%>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END PANEL -->
            </div>


        </div>


        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="hint-text">Copyright © 2016</span>
                    <span class="font-montserrat">JStrouthou</span>.
                    <span class="hint-text">All rights reserved.</span>
                    </span>
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    <span class="sm-block"><a data-target="#TermofuseModal" data-toggle="modal" href="#TermofuseModal" class="m-l-10 m-r-10">Terms of use</a> | <a data-target="#PrivacyPolicyModal" data-toggle="modal" href="#PrivacyPolicyModal" class="m-l-10">Privacy Policy</a></span>
                </p>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END FOOTER -->

    </div>

            <!--<div class="modal-dialog modal-lg">-->
                <!--<div class="modal-content-wrapper">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<h1 style="font-family:Georgia" id="modalTitle" class="modal-title">Your Notifications</h1>-->
                        <!--</div>-->
                        <!--<div id="rootwizard" class="m-t-50">-->
                            <!--<div class="tab-content">-->
                                <!--<div class="tab-pane padding-50 active slide-left" id="tab1">-->
                                    <!--<div class="row row-same-height">-->
                                        <!--&lt;!&ndash;<div class="col-md-5 b-r b-dashed b-grey sm-b-b">&ndash;&gt;-->
                                            <!--<div>-->

                                                <!--&lt;!&ndash;<h2 style="font-family:Georgia">Hello!</h2>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<p>Your appointments are being listed on the right.</p>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<p class="small hint-text">Please give yourself some time before attending each appointment.</p>&ndash;&gt;-->
                                            <!--</div>-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div id='calendar'></div>-->

            <!-- END PLACE PAGE CONTENT HERE -->
            <!--</div>-->
            <!-- END CONTAINER FLUID -->



    <!--<div class="page-content-wrapper full-height">-->
        <!--&lt;!&ndash; START PAGE CONTENT &ndash;&gt;-->
        <!--<div class="content full-height">-->
            <!--&lt;!&ndash; START EMAIL &ndash;&gt;-->
            <!--<div class="email-wrapper">-->
                <!--&lt;!&ndash; START EMAIL SIDEBAR MENU&ndash;&gt;-->
                <!--<nav class="email-sidebar padding-30">-->
                    <!--<a href="email_compose.html" class="btn btn-complete btn-block btn-compose m-b-30">Compose</a>-->
                    <!--<p class="menu-title">BROWSE</p>-->
                    <!--<ul class="main-menu">-->
                        <!--<li class="active">-->
                            <!--<a href="#">-->
                                <!--<span class="title"><i class="pg-inbox"></i> Inbox</span>-->
                                <!--<span class="badge pull-right">5</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="">-->
                            <!--<a href="#">-->
                                <!--<span class="title"><i class="pg-folder"></i> All mail</span>-->
                            <!--</a>-->
                            <!--<ul class="sub-menu no-padding">-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<span class="title">Important</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#">-->
                                        <!--<span class="title">Labeled</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<span class="title"><i class="pg-sent"></i> Sent</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<span class="title"><i class="pg-spam"></i> Spam</span>-->
                                <!--<span class="badge pull-right">10</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<p class="menu-title m-t-20 all-caps">Quick view</p>-->
                    <!--<ul class="sub-menu no-padding">-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<span class="title">Documents</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<span class="title">Flagged</span>-->
                                <!--<span class="badge pull-right">5</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<span class="title">Images</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</nav>-->
                <!--&lt;!&ndash; END EMAL SIDEBAR MENU &ndash;&gt;-->
                <!--&lt;!&ndash; START EMAILS LIST &ndash;&gt;-->
                <!--<div class="email-list b-r b-grey"> <a class="email-refresh" href="#"><i class="fa fa-refresh"></i></a>-->
                    <!--<div id="emailList">-->
                        <!--&lt;!&ndash; START EMAIL LIST SORTED BY DATE &ndash;&gt;-->
                        <!--&lt;!&ndash; END EMAIL LIST SORTED BY DATE &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END EMAILS LIST &ndash;&gt;-->
                <!--&lt;!&ndash; START OPENED EMAIL &ndash;&gt;-->
                <!--<div class="email-opened">-->
                    <!--<div class="no-email">-->
                        <!--<h1>No email has been selected</h1>-->
                    <!--</div>-->
                    <!--<div class="email-content-wrapper" style="display:none">-->
                        <!--<div class="actions-wrapper menuclipper bg-master-lightest">-->
                            <!--<ul class="actions menuclipper-menu no-margin p-l-20 ">-->
                                <!--<li class="visible-sm-inline-block visible-xs-inline-block">-->
                                    <!--<a href="#" class="email-list-toggle"><i class="fa fa-angle-left"></i> All Inboxes-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="no-padding "><a href="#" class="text-info">Reply</a>-->
                                <!--</li>-->
                                <!--<li class="no-padding "><a href="#">Reply all</a>-->
                                <!--</li>-->
                                <!--<li class="no-padding "><a href="#">Forward</a>-->
                                <!--</li>-->
                                <!--<li class="no-padding "><a href="#">Mark as read</a>-->
                                <!--</li>-->
                                <!--<li class="no-padding "><a href="#" class="text-danger">Delete</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</div>-->
                        <!--<div class="email-content">-->
                            <!--<div class="email-content-header">-->
                                <!--<div class="thumbnail-wrapper d48 circular bordered">-->
                                    <!--<img width="40" height="40" alt="" data-src-retina="assets/img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="assets/img/profiles/avatar2x.jpg">-->
                                <!--</div>-->
                                <!--<div class="sender inline m-l-10">-->
                                    <!--<p class="name no-margin bold">-->
                                    <!--</p>-->
                                    <!--<p class="datetime no-margin"></p>-->
                                <!--</div>-->
                                <!--<div class="clearfix"></div>-->
                                <!--<div class="subject m-t-20 m-b-20 semi-bold">-->
                                <!--</div>-->
                                <!--<div class="fromto">-->
                                    <!--<div class="pull-left">-->
                                        <!--<div class="btn-group dropdown-default">-->
                                            <!--<a class="btn dropdown-toggle btn-small btn-rounded" data-toggle="dropdown" href="#">-->
                                                <!--David Nester-->
                                                <!--<span class="caret"></span>-->
                                            <!--</a>-->
                                            <!--<ul class="dropdown-menu">-->
                                                <!--<li><a href="#">Action</a>-->
                                                <!--</li>-->
                                                <!--<li><a href="#">Friend</a>-->
                                                <!--</li>-->
                                                <!--<li><a href="#">Report</a>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</div>-->
                                        <!--<label class="inline">-->
                                            <!--<span class="muted">&nbsp;&nbsp;to</span>-->
                                            <!--<span class=" small-text">johnsmith@skyace.com</span>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                            <!--<div class="email-content-body m-t-20">-->
                            <!--</div>-->
                            <!--<div class="wysiwyg5-wrapper b-a b-grey m-t-30">-->
                                <!--<textarea class="email-reply" placeholder="Reply"></textarea>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END OPENED EMAIL &ndash;&gt;-->
                <!--&lt;!&ndash; START COMPOSE BUTTON FOR TABS &ndash;&gt;-->
                <!--<div class="compose-wrapper visible-xs">-->
                    <!--<a class="compose-email text-info pull-right m-r-10 m-t-10" href="email_compose.html"><i class="fa fa-pencil-square-o"></i></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; END COMPOSE BUTTON &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; END EMAIL &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; END PAGE CONTENT &ndash;&gt;-->
    <!--</div>-->
    <!-- END PAGE CONTENT WRAPPER -->

<!-- END PAGE CONTAINER -->


    <div id="TermofuseModal" class="modal fade bd-example-modal-lg " role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h1 style="font-family:Georgia" id="modalTitle" class="modal-title">Terms of Use</h1><br>
                    </div>
                    <div class="modal-body" style="padding-left: 100px">
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="PrivacyPolicyModal" class="modal fade bd-example-modal-lg " role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h1 style="font-family:Georgia" id="modalTitle" class="modal-title">Privacy Policy</h1><br>
                    </div>
                    <div class="modal-body" style="padding-left: 100px">
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
</div>
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->
<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap-select2/select2.min.js"></script>
<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
<script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
<script src="assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="assets/plugins/jquery-menuclipper/jquery.menuclipper.js"></script>
<!-- END VENDOR JS -->
<script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
<script type="text/javascript" src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
<!-- BEGIN CORE TEMPLATE JS -->
<script src="pages/js/pages.min.js"></script>
<script src="pages/js/pages.email.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="assets/js/datatables.js" type="text/javascript"></script>
<script src="assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
</body>
</html>

<script>
    function AcceptReq(vl) {

        var res = vl.split("*");
        console.log(vl);
        var AppID=res[0];
        var name=res[1];
        var surname=res[2];
        var start=res[3];
        var sttime=res[4];
        var usemail=res[5];
        var t1=res[6];
        var t2=res[7];
        var t3=res[8];
        var end=res[9];
var drname=t1+" "+t2+" "+t3;


        $.ajax({
            url: '/email/update',
            type: 'post',
            data: {

                AppID: AppID


            },
            dataType: "json",
            async: true,

            // mongod is expecting the parameter name to be called "jsonp"

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error',errorThrown,textStatus);
            },

            success: function (data) {
                // title:data.title + data.start;
                //location.reload();


            },
        });
        $.get("/email/send_accept_meeting",{patientname:name+' '+surname,appdate:start,sttime:sttime,end:end,drname:drname,usemail:usemail},function(data) {
            if (data == "sent") {
                alert("Email sent");
//                //$("#message").html("Email is been sent at "+to+" . Please check inbox !");
//                $("#prev_b").hide();
//                $("#finish_b").hide();
//                $("#nav_bar_ap_form").hide();
//                $("#email_message").html("Email is been sent at "+to+" . Please check your inbox !");
            }
            else
                alert(data);
        });



    }

    function DeclineReq(id) {
        var AppID=id;
        $.ajax({
            url: '/email/decline',
            type: 'post',
            data: {

                AppID: AppID


            },
            dataType: "json",
            async: true,

            // mongod is expecting the parameter name to be called "jsonp"

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('error',errorThrown,textStatus);
            },

            success: function (data) {
                // title:data.title + data.start;
                location.reload();


            },
        });
    }


</script>