<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Find Your Doctor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
    <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
        window.onload = function()
        {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
        }
    </script>
</head>
<body class="fixed-header   ">
<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-40"><img src="assets/img/demo/social_app.svg" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-10"><img src="assets/img/demo/email_app.svg" alt="socail">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-40"><img src="assets/img/demo/calendar_app.svg" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10"><img src="assets/img/demo/add_more.svg" alt="socail">
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header" style="background-color: #D8D8D8">
        <img src="assets/img/dash_logo.png" alt="logo" class="brand" data-src="assets/img/dash_logo.png" data-src-retina="assets/img/dash_logo.png" width="180" height="35">
        <!--<div class="sidebar-header-controls">-->
        <!--<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>-->
        <!--</button>-->
        <!--</div>-->
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu" style="background-color: #0e90d2">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="home" class="detailed">
                    <img src="assets/img/home_logo.png" alt="logo" class="brand" data-src="assets/img/home_logo.png" data-src-retina="assets/img/home_logo.png" width="80" height="20">
                </a>
                <span class="icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            <li class="">
                <a href="email" class="detailed">
                    <img src="assets/img/notifications.png" alt="logo" class="brand" data-src="assets/img/notifications.png" data-src-retina="assets/img/notifications.png" width="150" height="20">
                </a>
                <span class="icon-thumbnail"><i class="glyphicon glyphicon-exclamation-sign"><%=notif.length%></i></span>
            </li>
            <li class="">
                <a href="social">
                    <img src="assets/img/social_logo.png" alt="logo" class="brand" data-src="assets/img/social_logo.png" data-src-retina="assets/img/social_logo.png" width="75" height="20">
                </a>
                <span class="icon-thumbnail bg-success" style="background-color: #D8D8D8"><i class="pg-social"></i></span>
            </li>
            <li class="">
                <a href="calendar">
                    <img src="assets/img/calendar_logo.png" alt="logo" class="brand" data-src="assets/img/calendar_logo.png" data-src-retina="assets/img/calendar_logo.png" width="100" height="20">
                </a>
                <span class="icon-thumbnail"><i class="pg-calender"></i></span>
            </li>
            <li class="">
                <a href="settings">
                    <img src="assets/img/doctors_logo.png" alt="logo" class="brand" data-src="assets/img/doctors_logo.png" data-src-retina="assets/img/doctors_logo.png" width="80" height="20">
                </a>
                <span class="icon-thumbnail"><i class="glyphicon glyphicon-user"></i></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START HEADER -->
    <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <!-- LEFT SIDE -->
        <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="sm-action-bar">
                <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
                    <span class="icon-set menu-hambuger"></span>
                </a>
            </div>
            <!-- END ACTION BAR -->
        </div>
        <!-- RIGHT SIDE -->
        <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="sm-action-bar">
                <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
                    <span class="icon-set menu-hambuger-plus"></span>
                </a>
            </div>
            <!-- END ACTION BAR -->
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table">
            <div class="header-inner">
                <div class="brand inline">
                    <img src="assets/img/newlogo.png" alt="logo" data-src="assets/img/newlogo.png" data-src-retina="assets/img/newlogo.png" width="100" height="50">
                </div>
                <!--<a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a> -->
            </div>
        </div>




        <div class=" pull-left sm-table">
            <div class="header-inner">
                <!--<div class="brand inline">-->
                    <!--<img src="assets/img/newlogo.png" alt="logo" data-src="assets/img/newlogo.png" data-src-retina="assets/img/newlogo.png" width="100" height="50">-->
                <!--</div>-->

                <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
                    <li class="p-r-15 inline">
                        <div class="dropdown">
                            <a href="/helper" id="notification-center" style="font-size: 18px"><i class="glyphicon glyphicon-user" style="font-size: 18px"></i> Appointment Helper
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <!--<div class=" pull-right">-->
            <!--<div class="header-inner">-->
                <!--<a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>-->
            <!--</div>-->
        <!--</div>-->
        <div class=" pull-right">
            <!-- START User Info-->
            <div class="visible-lg visible-md m-t-10">
                <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                    <span class="semi-bold"><%= user.fname%></span> <span class="text-master"><%= user.sname%></span>
                </div>
                <div class="dropdown pull-right">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="assets/img/profile.png" alt="" data-src="assets/img/profile.png" data-src-retina="assets/img/profile.png" width="32" height="32">
            </span>
                    </button>
                    <ul class="dropdown-menu profile-dropdown" role="menu">
                        <li>
                            <a><i class="glyphicon glyphicon-user"></i> <%= user.fname%> <%= user.sname%></a>
                            <a><i class="pg-mail"></i> <%= user.email%></a>
                            <a data-target="#Settings" data-toggle="modal" href="#Settings"><i class="glyphicon glyphicon-pencil"></i> Edit your profile</a>

                        </li>
                        <li class="bg-master-lighter">
                            <a href="/logout" class="clearfix">
                                <span class="pull-left">Logout</span>
                                <span class="pull-right"><i class="pg-power"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END User Info-->
        </div>
    </div>
    <!-- END HEADER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <!-- START JUMBOTRON -->
            <div class="jumbotron" data-pages="parallax">
                <div class="container-fluid container-fixed-lg">
                    <div class="inner">
                        <!-- START BREADCRUMB -->
                        <ul class="breadcrumb">
                            <li>
                                <p>FindYourDoctor</p>
                            </li>
                            <li><a class="active">Social</a>
                            </li>
                        </ul>
                        <!-- END BREADCRUMB -->
                        <div class="container-md-height m-b-20">
                            <div class="row row-md-height">
                                <div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
                                    <!-- START PANEL -->
                                    <div class="full-height">
                                        <div class="panel-body text-center">
                                            <img src="assets/img/doctors.png" alt="logo" data-src="assets/img/doctors.png" data-src-retina="assets/img/doctors.png">
                                            <!--<img class="image-responsive-height demo-mw-500" src="assets/img/demo/doctors.png" alt="">-->
                                        </div>
                                    </div>
                                    <!-- END PANEL -->
                                </div>
                                <div class="col-lg-5 col-md-height col-md-6 col-top">
                                    <!-- START PANEL -->
                                    <div class="panel panel-transparent">
                                        <div class="panel-heading">
                                            <div class="panel-title">Getting started
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h3>Find Your Doctor - Our Team</h3>
                                            <p>Our team is here to help each of you to find solutions to your health problems. In this section we will keep you tracked with all the important social updates.</p>
                                            <br>
                                            <h5>"To keep the body in good health is a duty... otherwise we shall not be able to keep our mind strong and clear."</h5>
                                            <div>
                                                <div class="profile-img-wrapper m-t-5 inline">
                                                    <img width="35" height="35" src="assets/img/profile.png" alt="" data-src="assets/img/profile.png" data-src-retina="assets/img/profile.png">
                                                    <div class="chat-status available">
                                                    </div>
                                                </div>
                                                <div class="inline m-l-10">
                                                    <h4 class="m-t-3">Dr James Dough</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PANEL -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END JUMBOTRON -->
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                    <div class="panel-heading ">
                        <div class="panel-title">Latest Updates  <i class="glyphicon glyphicon-globe" style="font-size: 20px"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4 no-padding">
                            <div class="p-r-30">
                                <h3>Woman loses baby after acne drug wrongly prescribed.</h3>
                                <br>
                                <p>A hospital has paid an undisclosed amount after a pregnant woman was given acne drugs that caused her unborn baby severe abnormalities.</p>
                            </div>
                        </div>
                        <div class="col-md-8 sm-no-padding">
                            <div class="panel panel-transparent">
                                <div class="panel-body no-padding">
                                    <div id="portlet-advance" class="panel panel-default">
                                        <div class="panel-heading ">
                                            <div class="panel-title">Up-to-date
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <h3>
                                                <span class="semi-bold">Junior doctors row:</span> Medical leaders condemn strikes.</h3>
                                            <p>Medical leaders have condemned the proposed series of five-day strikes by junior doctors, as the row over a new contract intensifies.
                                                A week of strikes by junior doctors this month will be followed by three more five-day walkouts in October, November and December in England.</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PANEL -->
            </div>
            <!-- END CONTAINER FLUID -->
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg bg-white">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title"> Also in the news  <i class="glyphicon glyphicon-bullhorn" style="font-size: 25px"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading separator">
                                        <div class="panel-title">Health
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h5>
                                            <span class="semi-bold">Making babies without eggs may be possible, say scientists...  </span></h5>
                                        <p>Scientists say early experiments suggest it may one day be possible to make babies without using eggs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-transparent">
                                    <div class="panel-heading">
                                        <div class="panel-title">Health
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h5>
                                            <span class="semi-bold">Ebola nurse Pauline Cafferkey 'not dishonest', hearing told!!</span>
                                        </h5>
                                        <p>A Scots nurse who survived Ebola will not face charges of dishonesty at a misconduct hearing...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default bg-success">
                                    <div class="panel-heading separator">
                                        <div class="panel-title">Health
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h5>
                                            <span class="semi-bold">MPs call for medical cannabis to be made legal</span></h5>
                                        <p class="text-black hint-text">Taking cannabis for medical reasons should be made legal, says a cross-party group of politicians...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTAINER FLUID -->
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title"> Alerts  <i class="glyphicon glyphicon-bell" style="font-size: 15px"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info" role="alert">
                                    <p class="pull-left"><b>Highest September temperature</b></p>
                                    <button class="close" data-dismiss="alert"></button>
                                    <div class="clearfix"></div>
                                    <br>
                                    <p>The UK's hottest day of the year so far - and the warmest September day since 1911 - has been recorded in Gravesend, Kent, where it reached 34.4C (93.9F).</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">
                                </div>

                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info" role="alert">
                                    <p class="pull-left"><b>Check-up before anti-malarial drug</b></p>
                                    <button class="close" data-dismiss="alert"></button>
                                    <div class="clearfix"></div>
                                    <br>
                                    <p>A controversial anti-malarial drug will now only be prescribed to service personnel after a face-to-face check-up, the Ministry of Defence has said.</p>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- START PANEL -->
                        <div class="panel panel-transparent">
                            <div class="panel-heading">
                                <div class="panel-title">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info" role="alert">
                                    <p class="pull-left"><b>Medical students applying from Wales</b></p>
                                    <button class="close" data-dismiss="alert"></button>
                                    <div class="clearfix"></div>
                                    <br>
                                    <p>The number of Welsh students applying to study medicine has fallen by 15% in the last five years, figures show. There has been a decline across the UK but it is steeper in Wales.
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <!-- END PANEL -->
                    </div>
                </div>
            </div>
            <!-- END CONTAINER FLUID -->
            <!-- START CONTAINER FLUID -->
            <div class="container-fluid container-fixed-lg bg-white">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title">Features & Analysis  <i class="glyphicon glyphicon-hourglass" style="font-size: 20px"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="portlet-linear-color" class="panel panel-default">
                                    <div class="panel-heading ">
                                        <div class="panel-title">Medicinal Cannabis
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h5>
                                            <span class="semi-bold">'I know cannabis is illegal, but it is medicinal'</span> By Daniella Thewlen
                                        </h5>
                                        <p>Cannabis should be legalised for medical use, a cross-party group of MPs has said, but there are thousands of people already using the Class B...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="portlet-circular-color" class="panel panel-default">
                                    <div class="panel-heading ">
                                        <div class="panel-title">Bionic Olympics
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h5>
                                            <span class="semi-bold">Cybathlon: World's first 'bionic Olympics' gears up</span> By George Dust</h5>
                                        <p>It's being pitched as a bionic Olympics. Next month, contestants from across the world using robotic exoskeletons, electronic arms, wheelchairs...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="portlet-error" class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">Death Café
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <h5>
                                            <span class="semi-bold">Death Café: Chatting about mortality over tea and cake</span> By Maria Stone</h5>
                                        <p>The Malvern Death Café in Worcestershire is where people come to talk after losing a loved one.
                                            It was set up by 59-year-old Sue Friston in 2013 after...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTAINER FLUID -->

        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer">
            <div class="copyright sm-text-center">
                <p class="small no-margin pull-left sm-pull-reset">
                    <span class="hint-text">Copyright © 2016</span>
                    <span class="font-montserrat">JStrouthou</span>.
                    <span class="hint-text">All rights reserved.</span>
                    </span>
                </p>
                <p class="small no-margin pull-right sm-pull-reset">
                    <span class="sm-block"><a data-target="#TermofuseModal" data-toggle="modal" href="#TermofuseModal" class="m-l-10 m-r-10">Terms of use</a> | <a data-target="#PrivacyPolicyModal" data-toggle="modal" href="#PrivacyPolicyModal" class="m-l-10">Privacy Policy</a></span>
                </p>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- END COPYRIGHT -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->



<div id="Settings" class="modal fade bd-example-modal-lg " role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header" style="text-align: left" >
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h1 style="font-family:Georgia" id="modalTitle" class="modal-title"><center><i class="glyphicon glyphicon-pencil" style="font-size: 25px"></i> Edit your profile</center></h1><br>
                </div>
                <div class="modal-body" style="padding-bottom: 10px">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>First Name</label>
                                <input type="text" name="fname" placeholder="First Name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <label>Last Name</label>
                                <input type="text" name="sname" placeholder="Last Name" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="Email" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Username</label>
                                <input type="text" name="username" placeholder="Username" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default required">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Password" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default required">
                                <input type="text" name="dateofbirth" id="appdate1" placeholder="Date of Birth" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group-default-select2 required">
                                <select class="full-width" data-placeholder="Select your gender" data-init-plugin="select2" name="selectsex" id="selectsex" required>
                                    <option value="">Select your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary btn-cons m-t-10 center-block" type="submit" style="display: block; margin: 0 auto; border-color: white; background-color: #0e90d2">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TermofuseModal" class="modal fade bd-example-modal-lg " role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h1 style="font-family:Georgia" id="modalTitle" class="modal-title">Terms of Use</h1><br>
                </div>
                <div class="modal-body" style="padding-left: 100px">
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="PrivacyPolicyModal" class="modal fade bd-example-modal-lg " role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                    <h1 style="font-family:Georgia" id="modalTitle" class="modal-title">Privacy Policy</h1><br>
                </div>
                <div class="modal-body" style="padding-left: 100px">
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN VENDOR JS -->
<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap-select2/select2.min.js"></script>
<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
<script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="pages/js/pages.min.js"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="assets/js/notifications.js" type="text/javascript"></script>
<script src="assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->
</body>
</html>